<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section id="ngx-datatable-kitchen-sink">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-primary">All Educations</h4>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center">
          <div class="col-md-5 col-12">
            <div class="d-flex align-items-center justify-content-start pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
              <label class="d-flex align-items-center">Search
                <input type="search" name="name" id="name" [(ngModel)]="name" placeholder="Search by Name"
                  class="form-control ml-25" (change)="getAllEducations()" (keyup)="getAllEducations()" /></label>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-icon rounded-circle btn-primary mr-1" data-toggle="tooltip"
              data-placement="top" (click)="modalOpen(modalPrimaryadd)" title="add project" rippleEffect>
              <span [data-feather]="'plus'"></span>
            </button>
            <button type="button" class="btn btn-icon rounded-circle btn-success mr-1" data-toggle="tooltip"
              data-placement="top" title="export projects" rippleEffect>
              <span [data-feather]="'upload'"></span>
            </button>
            <button type="button" class="btn btn-icon rounded-circle btn-warning mr-1" data-toggle="tooltip"
              data-placement="top" title="import project" rippleEffect>
              <span [data-feather]="'download'"></span>
            </button>
          </div>
        </div>

        <ngx-datatable class="bootstrap core-bootstrap m-1" [columnMode]="'flex'" [headerHeight]="40"
          [footerHeight]="50" [rowHeight]="45" rowHeight="auto" [rows]="data" [limit]="basicSelectedOption"
          [columnMode]="ColumnMode.force">

          <ngx-datatable-column name="Education Name" prop="name"
            headerClass="d-flex align-items-center justify-content-center"
            cellClass="d-flex align-items-center justify-content-center">
          </ngx-datatable-column>

          <ngx-datatable-column name="Description" prop="description"
            headerClass="d-flex align-items-center justify-content-center"
            cellClass="d-flex align-items-center justify-content-center">
          </ngx-datatable-column>

          <ngx-datatable-column name="Actions" [flexGrow]="1" [sortable]="false"
            headerClass="d-flex align-items-center justify-content-center"
            cellClass="d-flex align-items-center justify-content-center">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="d-flex align-items-center justify-content-center">
                <a href="javascript:void(0)" class="d-flex align-items-center m-1"
                  (click)="modalEdit(modalPrimaryedit, row.id)" data-toggle="tooltip" data-placement="top"
                  title="edit project">
                  <i data-feather="edit" class="text-primary cursor-pointer"></i></a>
                <a href="javascript:void(0)" class="d-flex align-items-center"
                  (click)="modalOpenDanger(modalDanger, row.id)" data-toggle="tooltip" data-placement="top"
                  title="delete project"><i data-feather="trash-2" class="text-primary cursor-pointer"></i></a>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>


        <div class="pageit">
          <div class="col-md-2 col-12">
            <div>
              <label class="d-flex align-items-center">Show
                <select class="form-control mx-25" [(ngModel)]="basicSelectedOption" (change)="getAllEducations()">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
                entries</label>
            </div>
          </div>
          <div class="col-md-3 col-12">
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalPages" [(page)]="page"
              [boundaryLinks]="true" size="lg" [maxSize]="2" (pageChange)="pageChanged($event)">
            </ngb-pagination>
          </div>
        </div>
        
      </div>
    </section>

  </div>
</div>


<!------------------ Add Education ------------------->


<ng-template #modalPrimaryadd let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Add Education</h5>

    <button type="button" class="close" (click)="modal.dismiss('Cross click');emptyfields()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form class="form form-horizontal" [formGroup]="educForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-12">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <label for="Skill-name">Name</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" formControlName="name" id="Education-name" class="form-control" name="Education-name"
                    [ngClass]="{
                          'is-invalid': submitted && f['name'].errors
                        }" placeholder="Enter the Education's name" />
                  <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                    <div *ngIf="f['name'].errors['required']">
                      The Education's name is required
                    </div>
                    <div *ngIf="f['name'].errors['pattern']">
                      The Education's name must have characters only
                    </div>
                    <div *ngIf="f['name'].errors['minlength']">
                      Add more characters
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <label for="Education-desc">Description</label>
                </div>
                <div class="col-sm-9">
                  <textarea id="Education-desc" formControlName="description" placeholder="Description"
                    name="Education-desc" rows="2" wrap="soft" [ngClass]="{
                          'is-invalid': submitted && f['description'].errors
                        }" class="form-control" data-v-aa799a9e=""></textarea>
                  <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                    <div *ngIf="f['description'].errors['required']">
                      description is required
                    </div>
                    <div *ngIf="f['description'].errors['minlength']">
                      description should have more than 3 characters
                    </div>
                    <div *ngIf="f['description'].errors['maxlength']">
                      description shouldn't have more than 45 characters
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-sm-9 offset-sm-3">
              <button type="submit" rippleEffect class="btn btn-primary mr-1">
                Add
              </button>
              <button type="reset" rippleEffect class="btn btn-outline-secondary">
                Reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</ng-template>

<!------------------ Edit Education ------------------->

<ng-template #modalPrimaryedit let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Edit Education</h5>

    <button type="button" class="close" (click)="modal.dismiss('Cross click');emptyfields()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="form form-horizontal" [formGroup]="educForm" (ngSubmit)="edit()">
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label for="Skill-name">Name</label>
          </div>
          <div class="col-sm-9">
            <input type="text" formControlName="name" id="skill-name" class="form-control" name="skill-name" [ngClass]="{
                'is-invalid': f['name'].errors
              }" placeholder="Enter the skill's name" />
            <div *ngIf="f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors['required']">
                The skill's name is required
              </div>
              <div *ngIf="f['name'].errors['pattern']">
                The skill's name must have characters only
              </div>
              <div *ngIf="f['name'].errors['minlength']">
                Add more characters
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label for="skill-desc">Description</label>
          </div>
          <div class="col-sm-9">
            <textarea id="skill-desc" formControlName="description" placeholder="Description" name="skill-desc" rows="2"
              wrap="soft" [ngClass]="{
                'is-invalid': f['description'].errors
              }" class="form-control" data-v-aa799a9e=""></textarea>
            <div *ngIf="f['description'].errors" class="invalid-feedback">
              <div *ngIf="f['description'].errors['required']">
                description is required
              </div>
              <div *ngIf="f['description'].errors['minlength']">
                description should have more than 3 characters
              </div>
              <div *ngIf="f['description'].errors['maxlength']">
                description shouldn't have more than 45 characters
              </div>
            </div>
          </div>
        </div>
      </div>
      


    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" rippleEffect>Accept</button>
    </div>
  </form>
</ng-template>

<div class="modal-danger d-inline-block">
  <!-- Modal -->
  <ng-template #modalDanger let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Confirm</h5>

      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      Are you sure you want to delete the Education ?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
        Cancel
      </button>

      <button type="button" class="btn btn-danger" (click)="deleteData()" routerLink="/reload" rippleEffect>
        Delete
      </button>
    </div>
  </ng-template>
  <!-- / Modal -->
</div>