<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section id="ngx-datatable-kitchen-sink">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-primary">All Teams</h4>
        </div>
        <div class="row">
          <div class="col-12 mb-50">
            <button
              class="btn btn-primary ml-1"
              rippleEffect
              routerLink="/companies/company/addcompany"
            >
              <i data-feather="plus" class="mr-0 mr-sm-1"></i
              ><span class="d-none d-sm-inline-block">Add New Company</span>
            </button>
            <a
              class="btn btn-outline-danger float-right mr-1"
              rippleEffect
              (click)="modalmultipledelete(modalDangerMultiple)"
              [hidden]="isDisabled"
            >
              Delete selected elements
            </a>
          </div>
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
                >Show
                <select
                  class="form-control mx-25"
                  [(ngModel)]="basicSelectedOption"
                >
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
                entries</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div
              class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0"
            >
              <label class="d-flex align-items-center"
                >Search<input
                  type="search"
                  [(ngModel)]="name"
                  name="name"
                  id="name"
                  placeholder="Search by Name"
                  class="form-control ml-25"
                  (keyup)="filterUpdate($event)"
                  (search)="filterUpdate($event)"
              /></label>
            </div>
          </div>
        </div>
        <ngx-datatable
          class="margin"
          [rows]="companies"
          [rowHeight]="58"
          class="bootstrap core-bootstrap"
          [limit]="10"
          [columnMode]="ColumnMode.force"
          [headerHeight]="40"
          [footerHeight]="50"
          [scrollbarH]="false"
          [selectionType]="SelectionType.checkbox"
          [limit]="basicSelectedOption"
          (select)="onSelect($event)"
        >
          <ngx-datatable-column
            [width]="70"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            cellClass="d-flex align-items-center"
          >
            <ng-template
              ngx-datatable-header-template
              let-value="value"
              let-allRowsSelected="allRowsSelected"
              let-selectFn="selectFn"
            >
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [checked]="allRowsSelected"
                  (change)="selectFn(!allRowsSelected)"
                  id="headerChkbxRef"
                  [vertical-align]="middle"
                  cellClass="d-flex align-items-center"
                />
                <label
                  class="custom-control-label"
                  for="headerChkbxRef"
                ></label>
              </div>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-isSelected="isSelected"
              let-onCheckboxChangeFn="onCheckboxChangeFn"
            >
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [checked]="isSelected"
                  (change)="onCheckboxChangeFn($event)"
                  id="rowChkbxRef{{ rowIndex }}"
                />
                <label
                  class="custom-control-label"
                  for="rowChkbxRef{{ rowIndex }}"
                ></label>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            name="Name"
            prop="name"
            [width]="160"
            cellClass="d-flex align-items-center"
          >
          </ngx-datatable-column>
          <ngx-datatable-column
            name="WebSite"
            prop="webSite"
            [width]="160"
            cellClass="d-flex align-items-center"
          >
          </ngx-datatable-column>

          <ngx-datatable-column
            name="PhoneNumber"
            prop="phoneNumber"
            [width]="160"
            cellClass="d-flex align-items-center"
          >
          </ngx-datatable-column>

          <ngx-datatable-column name="Actions" [width]="120" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex align-items-center">
                <div ngbDropdown container="body">
                  <a
                    ngbDropdownToggle
                    href="javascript:void(0);"
                    class="hide-arrow"
                    id="dropdownBrowserState"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i
                      data-feather="more-vertical"
                      class="text-primary cursor-pointer mr-50"
                    ></i>
                  </a>
                  <div
                    ngbDropdownMenu
                    class="dropdown-menu-right"
                    aria-labelledby="dropdownBrowserState"
                  >
                    <a
                      ngbDropdownItem
                      href="javascript:void(0);"
                      class="d-flex align-items-center"
                      routerLink="company-details/{{ row.id }}"
                    >
                      <i data-feather="info" class="mr-50"></i>
                      <span>Details</span>
                    </a>
                    <a
                      href="javascript:void(0)"
                      ngbDropdownItem
                      class="d-flex align-items-center"
                      (click)="modalEdit(modalPrimaryedit, row.id)"
                      ><i data-feather="archive" class="mr-50"></i> Edit</a
                    >
                    <a
                      href="javascript:void(0)"
                      ngbDropdownItem
                      class="d-flex align-items-center"
                      (click)="modalOpenDanger(modalDanger, row?.id)"
                      ><i data-feather="trash-2" class="mr-50"></i> Delete</a
                    >
                  </div>
                </div>

                <i data-feather="edit" class="text-primary cursor-pointer"></i>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
  </div>
</div>

<!-----------   Modal Edit Team   ----------->

<ng-template #modalPrimaryedit let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Edit company</h5>

    <button
      type="button"
      class="close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form
      [formGroup]="form"
      (ngSubmit)="updateCompany()"
      class="form form-horizontal"
    >
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <div class="col-sm-3 col-form-label">
              <label for="first-name">Name</label>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <input
                  type="name"
                  id="name"
                  class="form-control"
                  name="name"
                  formControlName="name"
                  placeholder="name"
                  [ngClass]="{
                    'is-invalid': submitted && formControl['name'].errors
                  }"
                />
                <div
                  *ngIf="formControl['name'].errors"
                  class="required-feedback"
                >
                  <div
                    *ngIf="formControl['name'].errors['required']"
                    class="required-feedback"
                  >
                    Name is required
                  </div>
                  <div *ngIf="formControl['name'].errors['pattern']">
                    Name must have characters only
                  </div>
                  <div *ngIf="formControl['name'].errors['minlength']">
                    Add more characters
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <div class="col-sm-3 col-form-label">
              <label for="Web site">Website</label>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <input
                  type="text"
                  id="website"
                  class="form-control"
                  name="website"
                  placeholder="Web site"
                  formControlName="webSite"
                  [ngClass]="{
                    'is-invalid': submitted && formControl['webSite'].errors
                  }"
                />
                <div
                  *ngIf="formControl['webSite'].errors"
                  class="d-block required-feedback"
                >
                  <div *ngIf="formControl['webSite'].errors['required']">
                    WebSite is required
                  </div>
                  <div *ngIf="formControl['webSite'].errors['pattern']">
                    Please provide valid url
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <div class="col-sm-3 col-form-label">
              <label for="email">Email</label>
            </div>
            <div class="col-sm-9">
              <input
                type="email"
                id="email"
                class="form-control"
                name="email"
                placeholder="email"
                formControlName="email"
                [ngClass]="{
                  'is-invalid': submitted && formControl['email'].errors
                }"
              />
              <div
                *ngIf="formControl['email'].errors"
                class="required-feedback"
              >
                <div *ngIf="formControl['email'].errors['required']">
                  Email is required
                </div>
                <div *ngIf="formControl['email'].errors['email']">
                  Email is invalid
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <div class="col-sm-3 col-form-label">
              <label for="phone">Phone number</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                id="phone"
                class="form-control"
                name="phone"
                placeholder="phone number"
                formControlName="phoneNumber"
                [ngClass]="{
                  'is-invalid': submitted && formControl['phoneNumber'].errors
                }"
              />
              <div
                *ngIf="formControl['phoneNumber'].errors"
                class="required-feedback"
              >
                <div *ngIf="formControl['phoneNumber'].errors['required']">
                  Phone Number is required
                </div>
                <div *ngIf="formControl['phoneNumber'].errors['pattern']">
                  The phone number's pattern is not correct
                </div>
                <div *ngIf="formControl['phoneNumber'].errors['minlength']">
                  Phone number must be at least 10 numbers
                </div>
                <div *ngIf="formControl['phoneNumber'].errors['maxlength']">
                  Phone number must be at most 10 numbers
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group row justify-content-start">
            <div class="col-1 col-form-label" style="margin-right: 2.3rem">
              <label for="address">Address</label>
            </div>
            <div class="col-10">
              <textarea
                id="address"
                placeholder="address"
                name="c-rp-cs"
                rows="2"
                wrap="soft"
                class="form-control"
                formControlName="address"
                [ngClass]="{
                  'is-invalid': submitted && formControl['address'].errors
                }"
              ></textarea>
              <div
                *ngIf="formControl['address'].errors"
                class="required-feedback"
              >
                <div *ngIf="formControl['address'].errors['required']">
                  Adress is required
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="d-flex justify-content-end mb-2">
            <button
              type="reset"
              rippleEffect
              class="mr-1 btn btn-outline-secondary"
            >
              Reset
            </button>

            <button type="submit" class="btn btn-primary" rippleEffect>
              Save
            </button>
            <swal></swal>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!-----------   Modal Danger   ----------->

<div class="modal-danger d-inline-block">
  <ng-template #modalDanger let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Confirm</h5>

      <button
        type="button"
        class="close"
        (click)="modal.dismiss('Cross click')"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      Are you sure you want to delete the Team ?
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.close('Accept click')"
        rippleEffect
      >
        Cancel
      </button>

      <button
        type="button"
        class="btn btn-danger"
        (click)="deleteCompany()"
        rippleEffect
      >
        Delete
      </button>
    </div>
  </ng-template>
</div>
<swal></swal>

<!-----------   Modal Danger for multiple delete  ----------->

<div class="modal-danger d-inline-block">
  <ng-template #modalDangerMultiple let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Confirm</h5>

      <button
        type="button"
        class="close"
        (click)="modal.dismiss('Cross click')"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      Are you sure you want to delete the selected companies ?
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.close('Accept click')"
        rippleEffect
      >
        Cancel
      </button>

      <button
        type="button"
        class="btn btn-danger"
        (click)="deletemultiple()"
        rippleEffect
      >
        Delete
      </button>
    </div>
  </ng-template>
</div>
<swal></swal>
